<html>
  <head>
    <title>Tribunali Italiani -- Demo</title>
  </head>
  <body bgcolor=white>

    <table border="0" cellpadding="10">
      <tr>
        <td>
          <img src="images/csm.jpeg">
        </td>
        <!-- <td>
          <h1>Dati di Performance dei Tribunali Italiani -- Demo</h1>
        </td> -->
      </tr>
      <tr>
        <td>
          <h1>Dati di Performance dei Tribunali Italiani -- Demo</h1>
        </td>
      </tr>
    </table>

    <p>Benvenuti a i report basati sui dati di performance dei tribunali Italiani.</p>
    <p>I dati corrispondono al registro SIECIC (SICID sarà disponibile a breve). </p>
    <p>Scegliere una opzione: </p>
    <ul>
      <li><a href="/tribunali-detail">Performance per Tribunale </a> (comparativa per area, dimensione, ecc.).
      <li><a href="/charts">Performance Generale </a> (aggregazioni per area, dimensione, ecc.).
    </ul>

  </body>
</html>
